body {
    background-color: #222;
}

h1 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 17px;
    color: #aaa;
    float: left;
}


/* ------------------ Menu -------------------- */

#menu {
    text-align: right;

}

#menu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#menu a {
    margin-left: 1em;
    background: #333;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

/* ------------------ Tools -------------------- */
#tools {
    float: left;
    width: 200px;
    background: #aaa;
    border: 1px solid silver;
    border-radius: 5px;
    margin-right: 20px;
}

.toolsSection {
    margin-bottom: 1em;
}



label.rangeLabel {
    display: block;
    clear: left;
}

input[type="range"] {
    width: 90%;
}

/* ------------------ Marking Type CheckBoxLabel -------------------- */

.markingLabel0 {
    color: red;
}

.markingLabel1 {
    color: yellow;
}

.markingLabel2 {
    color: #8a2be2;;
}

.markingLabel3 {
    color: green;
}

.markingLabel4 {
    color: blue;
}

/* ------------------ Marking Type Marker Colors -------------------- */


.markingType0 {
    background: red;
}

.markingType1 {
    background: yellow;
}

.markingType2 {
    background: #8a2be2;
}

.markingType3 {
    background: green;
}

.markingType4 {
    background: blue;
}


/* ------------------ Canvas Section -------------------- */

#mainCanvasContainer {
    padding: 5px;
    border-radius: 4px;
    background: #444;
    margin-left: 230px;
    position: relative;
    color: #eee;
}

#mainCanvasContainer2 {
    margin-top: 5px;
    position: relative;
}

#mainCanvas {
    width: 100%;
}

#filteredCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#markings {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas.ondragover {
    border: 1px solid #f00;
}

.marking {
    position: absolute;
    width: 9px;
    height: 9px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 10px;
    /*cursor: move;*/
}

#cropSelection  {
    border: 1px solid red;
    background: #aaa;
    opacity: 0.5;
    position: absolute;
}

/* -------------------------- Slider ---------------------- */

/* slider root */
.slider {
    background:url(../images/small-horizontal.png) no-repeat  0 -5px;
    width:94px;
    height:5px;
    cursor:pointer;
    position: relative;
    margin: 10px 0;
}

/* drag handle */
.handle {
    background:transparent url(../images/small-horizontal.png) no-repeat scroll -97px 0;
    height:13px;
    position:absolute;
    top:-5px;
    width:12px;
    cursor:move;
}

/* input field */
.range {
    font-size:10px;
    border:0;
    background:none;
    width: 30px;
    margin:-5px 0 10px 0;
    color:#fff;
    text-align:center;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

/* input field while focused */
.range:focus {
    background-color:#000;
}

/* cute little CSS3 selector */
.range[readonly]:focus {
    background-color:transparent;
}

/* ------------------ Configure Dialog -------------------- */

.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.95;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

.modal h2 {
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}
